<h1>Pull-requests stats</h1>
<div class="info">
<p>The following table has the information between <b>revieweers</b> 
and <b>asignees</b> as a sum, named collaboration. From top to bottom, where in top is user A its read as
 <i> how many collaborations has done the user A to user B</i>, where user B is the 
 user in the first column</p>
 </div>

<div class="container">
    <% unless @corrmat.col_head.empty? %>
        <table>
            <thead>
                <th></th>
                <% @corrmat.col_head.each do |user| %>
                    <th class="table-gh-user"><img src="<%= user.avatar_url %>"></th>
                <% end %>
            </thead>
            <tbody>
                <% @corrmat.col_head.each_with_index do |b, i| %>
                    <tr>
                        <td class="table-gh-user">
                            <img src="<%= b.avatar_url %>">
                            <p><%= link_to b.login, b.html_url %></p>
                        </td>
                        <% @corrmat.row_head.each_with_index do |a, j|%>
                            <td><span><%= @corrmat.data[[i,j]] %></span></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
<div>
