@import url('https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Condensed:300');
$roboto: 'Roboto', sans-serif;
$robotoCondensed: 'Roboto Condensed',sans-serif;
$secondary: #fcfaff;
$secondaryBorder: #f0f0f0;
$primaryBorder: #f1f1f1;
$primary: #49475e;
$white: #fff;
$black: #000;
$orange: #ff9e00;
$gray: #dedede;
$text: #aeabcc;
$modalBackground: rgba(0, 0, 0, .5);
$modalShadow: rgba(0, 0, 0, .33);