<div class="card">
    <div class="froggo-teams">
        <div class="froggo-teams-list">
            <div class="froggo-teams-list__title">
                <%= t('messages.header.teams') %>
            </div>
            <div class="froggo-teams-list__section">
                <froggo-teams-list
                    :user-teams="<%= @user_teams.to_json %>"
                    :organizations="<%= @organizations.to_json %>"
                />
            </div>
        </div>
    </div>
</div>