<div class="card">
    <div class="froggo-teams">
        <div class="froggo-teams-list">
            <% if !@organizations.empty?  %>
                <div class="froggo-teams-list__title">
                    <%= t('messages.dashboard.teams') %>
                </div>
                <div class="froggo-teams-list__section">
                    <froggo-teams-list
                        :user-teams="<%= ActiveModel::Serializer::CollectionSerializer.new(@user_teams, serializer: Api::V1::FroggoTeamSerializer, with_users: true).to_json %> | camelizeKeys"
                        :organizations="<%= @organizations.to_json %>"
                    />
                </div>
            <% else %>    
                <%= render "empty" %>
            <% end %>
        </div>
    </div>
</div>