<div class="container w-3/4 mx-auto">
  <div class="card">
    <div class="froggo-teams">
      <froggo-team-show
        :froggo-team="<%= Api::V1::FroggoTeamSerializer.new(@froggo_team, with_users: true).to_json %> | camelizeKeys"
        :froggo-team-members="<%= ActiveModel::Serializer::CollectionSerializer.new(
          @froggo_team_members, serializer: Api::V1::GithubUserSerializer, froggo_team: @froggo_team
        ).to_json %> | camelizeKeys"
      />
    </div>
  </div>
</div>
<div class="container w-3/4 mx-auto card froggo-teams">
  <froggo-team-metrics
    :froggo-team-members="<%= @froggo_team_members.to_json %> | camelizeKeys"
    :months-options="<%= timespans_with_name.to_json %>"
  />
</div>
