@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Condensed:300');

$main-font: 'Roboto';
$roboto-condensed: 'Roboto Condensed';
$primary-color: #2fcab5;
$primary-color-light: #5ce6d3;
$primary-shadow-color: #b7ebe5;
$home-title-color: #fbffef;
$login-btn-color: #fff;
$login-btn-bg: #52ccbc;
$secondary-color: #49475e;
$home-footer-color: #aeabcc;


$bg-secondary-color: #fcfaff;
$secondary-border: #f0f0f0;
$primary-border: #f1f1f1;
$primary: #49475e;
$white: #fff;
$black: #000;
$orange: #ff9e00;
$gray: #dedede;

$max-width: 1440px;
