
@import './base';
@import './home';
@import './dashboard';
@import './footer';
@import './header';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body, html {
  margin: 0 auto;
  background-color: $bg-primary-color;
  height: 100%;
}

.app {
  background-color: $bg-secondary-color;

  &__container {
    margin: 0 auto;
    padding-top: 48px;
  }
}
