$text: #aeabcc;
$roboto: 'Roboto', sans-serif;

.card {
  border-radius: 2px;
  background-color: $white;
  font-family: $main-font;

  &__title {
    color: $secondary-color;
    font-weight: 300;
    height: 48px;
    line-height: 48px;
    text-align: center;
  }

  &__info {
    color: $primary;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    opacity: .64;
    text-align: center;
    width: 850px;
  }

  &-extended {
    @extend .card;
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 48px;
    min-height: 536px;
    width: $app-content-width;

    &--fullscreen {
      margin: 0;
      min-height: 100vh;
      width: 100%;

      .matrix__values {
        overflow: visible;
      }
    }


    &__last-update {
      font-size: 11px;
      color: $secondary-color;
    }

    &__header {
      display: flex;
      flex-basis: 67px;
      font-size: 14px;
      height: 0;
      justify-content: flex-start;
    }

    &__title {
      flex: 1 1 auto;
      margin-top: 25px;
      text-align: center;
    }

    &__label {
      flex: 1 1 auto;
      margin-top: 25px;
      text-align: right;
    }

    &__back {
      cursor: pointer;
      display: flex;
      margin-left: 32px;
      margin-top: 25px;

      &-message {
        padding-left: 17px;
        text-align: center;
      }

      &-arrow {
        padding-bottom: 26px;
        max-width: 26px;
      }
    }

    &__button-container {
      margin-right: 32px;
      margin-top: 18px;

      &--big {
        min-width: 240px;
      }
    }

    &__config {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      margin-top: 18px;
    }

    &__dashboard-button {
      margin: 0 auto;
      margin-top: 40px;
    }

    &__body {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 50px;

      &-list {
        @extend .card-extended__body;
        justify-content: flex-start;
      }

      &-title {
        color: $secondary-color;
        font-size: 200%;
        margin-left: 32px;
        margin-top: 32px;
        justify-content: flex-start;
      }

      &-subtitle {
        display: flex;
        margin-left: 32px;
        margin-top: 10px;
        justify-content: flex-start;
      }
    }

    &--fullscreen &__body {
      margin: 0;
    }

    &__repo-name {
      margin-left: 40px;
    }

    &__link {
      color: $black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__user {
      display: flex;
      padding-left: 40px;

      &-name {
        margin: 6px;
      }
    }
  }

  &-pr {
    @extend .card;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 1px;
    margin-right: 5px;
    border-style: groove;
    border-width: 2px;
    font-family: $roboto;

    &__name {
      font-weight: bold;
      margin-left: 20px;
    }

    &__filter {
      font-family: roboto, sans-serif;
      display: flex;
      flex-direction: row;
      margin-left: 40px;
      margin-right: 60px;

      &__separation {
        margin-bottom: 22px;
        margin-top: 40px;
      }

      &__separation-32 {
        margin-top: 32px;
      }

      &-title {
        flex: 1;
        text-align: left;
        color: $secondary-color;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 12px;
      }

      &-inputs {
        flex: 3;
        text-align: left;
      }

      &-input {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 10px;
      }

      &-top10 {
        margin-top: 2px;
      }

      &-date {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 10px;
      }

      &-checkbox {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 5px;
        width: 30px;
        height: 30px;
        margin-top: 5px;
      }

      &__button {
        border-color: grayscale($color: #fff);
        color: $secondary-color;
        cursor: pointer;
        float: left;
        font-size: 13px;
        font-weight: 500;
        height: 28px;
        line-height: 24px;
        margin-right: 10px;
        min-width: 91px;
        padding: 2px 5px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
      }

      &__box-button {
        text-align: right;
        margin-left: 5px;
        margin-top: 3px;

      }

      &__submit {
        background-color: $primary-color;
        color: $white;
        border: solid 2px $primary-color;
        border-radius: 10px;
        cursor: pointer;
        display: table-cell;
        float: right;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        height: fit-content;
        line-height: 30px;
        min-width: 120px;
        padding: 2px 5px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
      }

    }

    &__background {
      background-color: $white;
      display: block;
      text-align: center;
      padding: 0;
      margin-top: 0;
      overflow: auto;
    }

    &__pagination {
      text-align: center;
      margin-bottom: 25px;
      display: inline-block;
    }

    &__project {
      margin-top: 15px;
      flex: 2;
      text-align: right;
      margin-right: 20px;
    }

    &__author {
      text-align: left;
      margin-left: 20px;
    }

    &__github {
      height: 2.5rem;
      margin-right: 20px;
    }

    &__buttons {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: $white;
      font-family: roboto, sans-serif;
      display: flex;
      justify-content: flex-end;
    }

    &__card {
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 1px;
      margin-left: 5px;
      background-color: $white;
      font-family: $main-font;
      display: flex;
      justify-content: flex-end;
      border-style: groove;
    }

    &__card-show {
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 1px;
      margin-left: 5px;
      background-color: $white;
      font-family: $main-font;
      border-style: groove;
    }

    &__circle {
      display: block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 50%; /* or 50% */
      background-color: $primary-color;
      color: $white;
      text-align: center;
      font-size: 1.5em;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &__button {
      background-color: $white;
      color: $primary-color;
      border: solid 2px $primary-color;
      border-radius: 10px;
      cursor: pointer;
      display: table-cell;
      float: right;
      font-size: 13px;
      font-weight: 500;
      height: fit-content;
      line-height: 30px;
      margin-left: 5px;
      margin-right: 5px;
      min-width: 55px;
      padding: 2px 5px;
      text-align: center;
      margin-top: 3px;
      text-decoration: none;
      vertical-align: middle;
    }

    &__orientation {
      flex-direction: row;
      object-fit: cover;
      margin-left: 40px;
      margin-right: 40px;
    }

    &__orientation-show {
      object-fit: cover;
      margin-left: 40px;
      margin-right: 40px;
    }

    &__list {
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      background-color: $white;
      overflow: auto;
      margin-bottom: 40px;
    }

    &-title-show {
      font-size: 26px;
      margin-top: 20px;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 30px;
      font-family: Arial Rounded MT Bold;
    }

    &-show {
      font-family: $roboto;

      &__github {
        height: 2.5rem;
        margin-bottom: 10px;
      }

      &__orientation {
        margin-left: 100px;
        margin-right: 100px;
      }

      &__display {
        display: flex;
        justify-content: flex-end;
      }

      &__info_display {
        display: flex;
        flex-direction: row;
      }

      &__title_display {
        flex: 1;
        display: flex;
        flex-direction: row;
      }

      &__flex2 {
        flex: 2;
      }

      &__flex1 {
        flex: 1;
      }

      &__github_display {
        text-align: right;
      }
    }

    &-title {
      text-align: center;
      font-size: 26px;
      margin-top: 20px;
      font-family: Arial Rounded MT Bold;
      margin-bottom: 20px;

      &__header {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-right: 40px;
      }

      &__header-card {
        flex: 4;
        display: flex;
        flex-direction: row;
      }

      &__header-button {
        flex: 1;
      }

      &__name {
        flex: 8;
        margin-left: 20px;
      }

      &__type-1 {
        flex: 2;
      }

      &__type-2 {
        flex: 1;
      }

      &__column-1 {
        flex: 1;
        font-family: $roboto;
        color: $text;
      }
    }
  }
}
