.info {
  height: 44px;
  width: $app-content-width;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.info__description {
  color: $primary;
  font-family: $main-font;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.matrix-dashboard {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

.matrix__head {
  display: flex;
  background-color: $bg-secondary-color;
  position: sticky;
  top: 0;
  height: 67px;
}

.matrix__row {
  display: flex;
}

.matrix__values {
  overflow: auto;
}

.matrix__user {
  background-color: $matrix-bg;
  height: 68px;
  padding: 8px;
  flex: 0 0 66px;

  &--head {
    @extend .matrix__user;
    flex: 0 0 65px;
    padding: 0;
    padding-top: 12px;
    position: sticky;
    top: 0;
  }
}

.matrix__user-img {
  max-height: 48px;
  max-width: 48px;
  border-radius: 50%;
  border: 1px solid $secondary-border;

  &--first {
    @extend .matrix__user-img;
    border: 3px solid $first-img;
  }

  &--second {
    @extend .matrix__user-img;
    border: 3px solid $second-img;
  }

  &--third {
    @extend .matrix__user-img;
    border: 3px solid $third-img;
  }
}

.matrix__user-crown {
  width: 100%;
  z-index: 1;
}

.matrix__user-div {
  display: inline-block;
  position: relative;
  z-index: 1;

  .matrix__user-crown {
    position: absolute;
    right: -11px;
    top: -6px;
    z-index: 1;
  }
}

.matrix__picture {
  text-align: center;
}

.matrix__pullrequest {
  background-color: $white;
  border: .5px solid $primary-border;
  display: flex;
  flex: 0 0 66px;
  flex-direction: column;
  height: 69px;
  justify-content: center;
  margin: -1px 0 0 -1px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 66px;
}

.matrix__pullrequest-border {
  border-radius: 8px 0 0;
}

.matrix__pullrequest__number,
.matrix__pullrequest__number-diagonal,
.matrix__pullrequest__number-0 {
  height: 36px;
  width: 50px;
  color: $black;
  font-family: $roboto-condensed;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}

.matrix__pullrequest__number-diagonal {
  color: $orange;
}

.matrix__pullrequest__number-0 {
  color: $gray;
}

.stuck {
  position: fixed;
}

.organization__selector {
  margin-top: 30px;
  font-family: $roboto-condensed;
  width: 100%;
  text-align: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $main-font;

  .card-extended {
    height: auto;

    &__header {
      position: relative;
      padding: 0 20px;
    }

    &__header-link {
      position: absolute;
      right: 32px;
      margin-top: 23px;
      color: $primary-color;
      text-decoration: none;
    }

    &__body {
      height: auto;
      background-color: $matrix-bg;
      margin-bottom: 0;
    }
  }
}

.settings {
  display: flex;
  flex-direction: column;
  background-color: $bg-primary-color;
}

.card {
  min-height: 536px;
  width: $app-content-width;
  border-radius: 2px;
  background-color: $white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $main-font;
  margin-top: 48px;

  &__title {
    height: 48px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    color: $secondary-color;
  }

  &__info {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 850px;
    margin: 0 auto;
    color: $primary;
    opacity: .64;
  }

  &-extended {
    @extend .card;
    justify-content: space-evenly;
    color: $primary;

    &--fullscreen {
      margin: 0;
      min-height: 100vh;
      width: 100%;

      .matrix__values {
        overflow: visible;
      }
    }

    &__last-update {
      font-size: 11px;
      color: $secondary-color;
    }

    &__header {
      flex-basis: 67px;
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
    }

    &__title {
      margin-top: 25px;
      flex: 1 1 auto;
      text-align: center;
    }

    &__back {
      margin-top: 25px;
      margin-left: 32px;
      display: flex;
      cursor: pointer;

      &-message {
        padding-left: 17px;
        text-align: center;
      }

      &-arrow {
        padding-bottom: 26px;
      }
    }

    &__button-container {
      margin-top: 18px;
      margin-right: 32px;

      &--big {
        min-width: 240px;
      }
    }

    &__config {
      position: absolute;
      right: 32px;
      margin-top: 18px;
    }

    &__dashboard-button {
      margin: 0 auto;
      margin-top: 40px;
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 50px;
      flex: 1 1 auto;

      &-list {
        @extend .card-extended__body;
        justify-content: flex-start;
      }
    }

    &--fullscreen &__body {
      margin: 0;
    }

    &__repo-name {
      margin-left: 40px;
    }

    &__link {
      color: $black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__user {
      padding-left: 40px;
      display: flex;

      &-name {
        margin: 6px;
      }
    }
  }

  &__setting-element {
    border-top: solid 1px $repository-border;
    height: 73px;
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 32px;
  }
}

.bolder {
  font-weight: 500;
}
