.header {
  background-color: $primary-color;
  width: 100%;
  height: 48px;
  text-align: center;

  &__container {
    width: $app-content-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0;
    height: 24px;
  }

  &__menu-container {
    display: flex;
  }

  &__menu {
    height: 24px;
  }
}

.dashboard-menu {
  &__title {
    font-family: $main-font;
    font-weight: 300;
    font-size: 16px;
    color: $primary;
    padding: 13px 30px 13px 16px;
    text-align: left;
  }

  &__option {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: $menu-option-color;
    font-family: $main-font;
    font-weight: 300;
    font-size: 14px;
    padding: 7px 30px 7px 16px;
    border-top-style: solid;
    border-top-color: $primary-border;
    border-top-width: .5px;
    text-align: left;

    &:hover {
      background-color: $bg-secondary-color;
    }
  }
}

.user-menu {
  .pl-dropdown__btn {
    padding-left: 22px;
  }

  &__image {
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }

  &__option {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: $menu-option-color;
    font-family: $main-font;
    font-weight: 300;
    font-size: 14px;
    padding: 7px 30px 7px 16px;
    text-align: left;

    &:hover {
      background-color: $bg-secondary-color;
    }
  }
}
