.c-presentation {
  min-height: 600px;
  background-color: $primary-color-light;
  background-image: image_url('frog-foot-top.png'), image_url('frog-foot-bottom.png');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;

  &__logo {
    margin: 24px auto;
  }

  &__title {
    height: 100px;
    max-width: 75%;
    margin: 40px auto 24px;
    color: $home-title-color;
    font-family: $landing-font;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    letter-spacing: -1px;
  }

  &__sub-title {
    height: 84px;
    max-width: 75%;
    margin: 0 auto 40px;
    color: $home-title-color;
    font-family: $landing-font;
    font-size: 23px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
  }

  &__github-login {
    height: 56px;
    width: 328px;
    margin: 0 auto 40px;
  }
}

.c-github-login {
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $login-btn-bg;
  cursor: pointer;
  text-decoration: none;

  &__logo-container {
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
  }

  &__logo {
    height: 24px;
    width: 24px;
    align-self: center;
  }

  &__text {
    font-family: $landing-font;
    height: 21px;
    width: 272px;
    color: $login-btn-color;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }
}

.dashboard-content {
  background-color: $bg-primary-color;
}

.dashboard-text-box {
  &__left {
    padding: 0 30px;
  }

  &__right {
    padding: 0 30px;
    text-align: right;
  }
}

.c-home-dashboard {
  display: flex;
  font-family: $landing-font;
  padding: 1% 5%;
}

@media only screen
  and (max-device-width : 768px) {
  .dashboard-column.dashboard-text-box__right {
    text-align: left;
  }

  .c-home-dashboard.normal {
    flex-direction: column;
  }

  .c-home-dashboard.reversed {
    flex-direction: column-reverse;
  }
}

.c-home-note {
  display: flex;
  font-family: $landing-font;
  padding: 1% 5%;
}

.c-home-note-right {
  display: flex;
  font-family: $landing-font;
  margin-left: auto;
  justify-content: flex-end;
  padding: 0 5%;
}

.dashboard-column {
  flex: 50%;
}

.home-dashboard-title {
  margin-top: 88px;
  margin-bottom: 40px;
  color: $secondary-color;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 37px;
  font-weight: 400;
}

.home-dashboard-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.home-dashboard-note {
  padding-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 21px;
}

.home-dashboard-note-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  width: 650px;
}

.home-dashboard-image {
  width: 100%;
  padding: 20px;
}

.home-dashboard-icon {
  width: 160px;
  height: 160px;
  padding: 20px;
}

.c-home-footer {
  background-color: $secondary-color;
  color: $home-footer-color;
  height: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  padding: 20px;

  &__text {
    text-decoration: none;
    color: $home-footer-color;
    font-family: $landing-font;
  }

  & a:visited {
    @extend .c-home-footer__text;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  height: 1744px;
}

hr {
  width: 100%;
  border: 7px solid #ebeaef;
  margin: 0;
}
