.loading-icon {
  animation: spin 2s linear infinite;
  border: 4px solid $gray;
  border-radius: 50%;
  border-top: 4px solid $primary-color;
  height: 30px;
  width: 30px;

  &--padded {
    margin: 19px 8px 0;
    padding: 5px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
