.profile-info__description {
  margin-top: 20px;
  width: 600px;

  .input-description {
    font-family: $main-font;
    font-size: $greater-font-size;
    width: 650px;
    height: 50px;
    resize: none;
    padding-left: 10px;
    border: $modal-border;
    color: $select-color;

    &:focus {
      outline: 0;
    }
  }

  .btn-description {
    font-family: $main-font;
    font-size: $greater-font-size;
    width: 85px;
    background-color: #2fcab5;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    border-color: #2fcab5;
    border-style: solid;
    cursor: pointer;
    margin-top: 5px;

    &:focus {
      outline: 0;
    }
  }

  .error {
    color: rgb(255, 0, 0);
  }
}

.profile-info__user-description {
  margin-left: 5px;
  color: $select-color;
}
