.profile {
  padding: 40px;

  &__section {
    margin-top: 5%;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__picture {
    align-items: center;
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 2% 0;

    img {
      border-radius: 50%;
      flex: 1;
      max-width: 25%;
      object-fit: fill;
      overflow: hidden;
    }
  }

  &__github-info {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:last-of-type {
      margin-left: 1em;
    }
  }

  &__link {
    display: flex;
    flex: 1;
    font-size: 115%;
  }
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__dropdowns {
    display: flex;
    margin-bottom: 2px;
  }
}

.profile-info {
  display: flex;
  align-items: center;

  &__picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__info {
    margin-left: 25px;
  }

  &__name {
    font-size: 26px;
  }

  &__username {
    display: flex;
    align-items: center;
    color: $light-primary;
    margin-top: 5px;
    text-decoration: none;

    svg {
      fill: $light-primary;
      margin-right: 5px;
    }
  }
}

.profile-teams {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__hint {
    color: $light-primary;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.profile-recommendations {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 15px;
}

.profile-recommendations-users {
  flex: 1;

  &--best {
    .profile-recommendations-users__title {
      color: $primary-color;
    }

    .profile-recommendations-users__users {
      border-color: $primary-color;
    }
  }

  &:not(:first-child) {
    margin-left: 40px;
  }

  &__users {
    border: 1px solid $primary-border;
    padding: 20px;
    margin-top: 15px;
  }

  &__user {
    display: flex;
    align-items: center;
    color: $primary;
    text-decoration: none;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__picture {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__color-badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: auto;

    &--red {
      background-color: rgba($red, .5);
    }

    &--light-red {
      background-color: lighten(rgba($red, .5), 30%);
    }

    &--green {
      background-color: rgba($primary-color, .5);
    }

    &--light-blue {
      background-color: lighten(rgba($blue, .5), 30%);
    }

    &--blue {
      background-color: rgba($blue, .5);
    }
  }
}

.profile-relations {
  margin-top: 15px;

  &__badged-picture {
    position: relative;
  }

  &__picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  &__color-badge {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 20px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 5px;

    &--red {
      background-color: rgba($red, .5);
    }

    &--light-red {
      background-color: lighten(rgba($red, .5), 30%);
    }

    &--green {
      background-color: rgba($primary-color, .5);
    }

    &--light-blue {
      background-color: lighten(rgba($blue, .5), 30%);
    }

    &--blue {
      background-color: rgba($blue, .5);
    }
  }

  &__badge-explainer {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 9px;
    position: relative;

    &--red {
      background-color: rgba($red, .5);
    }

    &--light-red {
      background-color: lighten(rgba($red, .5), 30%);
    }

    &--green {
      background-color: rgba($primary-color, .5);
    }

    &--light-blue {
      background-color: lighten(rgba($blue, .5), 30%);
    }

    &--blue {
      background-color: rgba($blue, .5);
    }
  }
}

.profile-team-tags-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}


.profile-team-tags-table {
  border: 1px solid $gray;
  flex: 1;
  max-height: 500px;
  overflow-y: auto;
  width: 100%;


  &__header {
    color: $primary;
    margin-top: 1rem;
    vertical-align: top;
  }

  &__table {
    flex: 1;
    font-size: 15px;
    padding: 1.5rem;
    width: 100%;


    tr:nth-child(even) {  background-color: $bg-primary-color; };

    th {
      background-color: $white;
      position: sticky;
      top: 0;
      z-index: 100;
    }
  }

  &__column-title-left {
    font-weight: normal;
    text-align: left;
  }

  &__column-title-center {
    font-weight: normal;
    text-align: center;
  }

  &__column-title-tags {
    font-weight: normal;
    text-align: center;
    width: 35%;
  }

  &__input-user {
    background-color: $bg-primary-color;
    border: 0;
    color: $primary;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    font-size: 16px;
    height: 40px;
    padding: 10px 25px;
    position: relative;
    text-align: left;
    width: 100%;

    &:hover {
      border: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &__user {
    align-items: center;
    color: $primary;
    display: flex;
    margin-bottom: 15px;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__picture {
    border-radius: 50%;
    height: 35px;
    margin-right: 10px;
    object-fit: cover;
    width: 35px;
  }

  &__description {
    align-items: center;
    color: $primary;
    display: flex;
    text-decoration: none;
  }

  &__color-badge {
    border-radius: 50%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;

    &--red {
      background-color: rgba($red, .5);
    }

    &--light-red {
      background-color: lighten(rgba($red, .5), 30%);
    }

    &--green {
      background-color: rgba($primary-color, .5);
    }

    &--light-blue {
      background-color: lighten(rgba($blue, .5), 30%);
    }

    &--blue {
      background-color: rgba($blue, .5);
    }
  }
}

.profile-team-tags {
  &__tags-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    &--odd {
      background-color: $primary-color;
      border-radius: 5px;
      color: $white;
      margin: 5px;
      padding: 2px;
      padding-left: 5px;
      padding-right: 5px;
      width: auto;
    }

    &--even {
      background-color: rgba($primary, .5);
      border-radius: 5px;
      color: $white;
      margin: 5px;
      padding: 2px;
      padding-left: 5px;
      padding-right: 5px;
      width: auto;
    }
  }
}

.profile-relations-users {
  margin-top: 15px;
}

.profile-statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray;
  padding: 40px;
}

.profile-prs {
  margin-top: .75rem;
  margin-bottom: .75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  font-family: $main-font;
  color: $select-color;

  &__container {
    display: flex;
    align-items: center;
    text-align: justify;
    margin: .75rem;
    padding: .75rem;
    border: 1px solid rgba($primary-color, .5);
    line-height: 1.5rem;
    max-width: 280px;
  }

  &__button {
    background-color: #2fcab5;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    border-color: #2fcab5;
    border-style: solid;
    cursor: pointer;
    margin-top: 5px;

    &:focus {
      outline: 0;
    }
  }
}

.select-reviewer {
  &__container {
    display: flex;
    align-items: center;
    align-content: flex-start;
    font-family: $main-font;
    color: $select-color;
  }

  &__username {
    flex-grow: 1;
    text-align: center;
  }

  &__picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__color-badge {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    &--red {
      background-color: rgba($red, .5);
    }

    &--light-red {
      background-color: lighten(rgba($red, .5), 30%);
    }

    &--green {
      background-color: rgba($primary-color, .5);
    }

    &--light-blue {
      background-color: lighten(rgba($blue, .5), 30%);
    }

    &--blue {
      background-color: rgba($blue, .5);
    }
  }
}

.centered {
  text-align: center;
}

.tooltip {
  // stylelint-disable-next-line
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: #666;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
    padding: 8px;
    max-width: 230px;
    text-align: center;
    opacity: .9;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
    white-space: pre-wrap;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    opacity: .9;
    border-color: #666;
    z-index: 1;
  }

  &[x-placement^='top'] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0;
      // stylelint-disable-next-line
      border-left-color: transparent !important;
      // stylelint-disable-next-line
      border-right-color: transparent !important;
      // stylelint-disable-next-line
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px;
      // stylelint-disable-next-line
      border-left-color: transparent !important;
      // stylelint-disable-next-line
      border-right-color: transparent !important;
      // stylelint-disable-next-line
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      // stylelint-disable-next-line
      border-left-color: transparent !important;
      // stylelint-disable-next-line
      border-top-color: transparent !important;
      // stylelint-disable-next-line
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      // stylelint-disable-next-line
      border-top-color: transparent !important;
      // stylelint-disable-next-line
      border-right-color: transparent !important;
      // stylelint-disable-next-line
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
