.profile-info__description {
  margin-top: 20px;
  width: 600px;

  .input-description {
    font-family: $main-font;
    font-size: 15px;
    width: 600px;
    height: 50px;
    margin-left: 5px;
  }

  .btn-description {
    font-family: $main-font;
    font-size: 15px;
    width: 85px;
    background-color: #2fcab5;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    border-color: #2fcab5;
    border-style: solid;
    cursor: pointer;
  }

  .error {
    color: rgb(255, 0, 0);
  }
}

.profile-info__user-description {
  margin-left: 5px;
}
