$back-ground-tag-color: #f7f5fa;
$font-tag-color: rgb(121, 121, 121);

.tag-list {
  font-family: $main-font;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  min-width: 100px;
  font-size: 15px;
  border-radius: 15px;
  padding: 2px 6px 2px 6px;
  margin-bottom: 5px;
  background-color: $back-ground-tag-color;
  color: rgb(0, 0, 0);
  display: inline-block;

  &__tag {
    display: inline;
    color: $font-tag-color;
  }
}

.tag-list__del-tag {
  float: right;
  border-radius: 15px;
  background-color: $back-ground-tag-color;
  color: $font-tag-color;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.btn__img {
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  bottom: 6px;
  right: 6px;
  opacity: .2;
}

.tag-list__add-tag {
  position: relative;
  width: 25px;
  height: 25px;
  border: 0;
  cursor: pointer;
  background-color: rgb(255, 255, 255);

  &:focus {
    outline: 0;
  }
}
