$back-ground-tag-color: #f7f5fa;

.tag-list {
  text-align: center;
  text-decoration: none;
  min-width: 100px;
  font-size: $greater-font-size;
  border-radius: 15px;
  padding: 2px 6px;
  background-color: $back-ground-tag-color;
  display: flex;
  align-items: center;
  margin: 5px 0 5px 5px;

  &__tag {
    color: $font-tag-color;
  }

  &__img-del-tag {
    width: 10px;
    height: 10px;
    opacity: .5;
  }

  &__del-tag {
    margin-left: auto;
    border-radius: 15px;
    background-color: $back-ground-tag-color;
    color: $font-tag-color;
    border: 0;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  &__add-tag {
    width: 25px;
    height: 25px;
    border: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

    &:focus {
      outline: 0;
    }
  }

  &__img-add-tag {
    opacity: .2;
    width: 22px;
    height: 22px;
  }
}


