<div class="card">
  <h1 class="card__title"><%= t('messages.dashboard.empty_title') %></h1>
  <div class="card__info">
    <%= t('messages.dashboard.empty_info') %>
  </div>
  <% if @is_admin %>
  <div class="card__button" onclick="window.location.href='<%= settings_organization_path(name: @github_organization[:login]) %>'">
    <span class="card__button-text"><%= t('messages.dashboard.button_config') %></span>
  </div>
  <% end %>
</div>