<div class="card">
  <h1 class="card__title"><%= t('messages.dashboard.card_title') %></h1>
  <div class="card__info">
    <%= t('messages.dashboard.card_info', org:  @github_organization[:login]) %>
  </div>
  <div class="card__button">
    <span class="card__button-text"><%= t('messages.dashboard.card_button') %></span>
  </div>
</div>