<div class="card">
  <h1 class="card__title">Ups. No hay nada aquí.</h1>
  <div class="card__info">
    El admin de <%= @github_organization[:login] %> no ha creado el dashboard. Envíale una ranita para que lo haga
  </div>
  <div class="card__button">
    <span class="card__button-text">Enviar ranita voladora</span>
  </div>
</div>