<% @organization.organization_memberships.each do |user| %>
  <div class="card__setting-element">
    <user :value="<%= user.attributes.slice('id', 'github_user.login', 'tracked', 'github_user.avatar_url').to_json %>"></user>
    <div class="card-extended__user">
      <img src="<%= user.github_user.avatar_url %>" class="user-menu__image">
      <div class="card-extended__user-name"><%= user.github_user.login %></div>
    </div>
  </div>
<% end %>