<div class="app__container">
  <div class="card">
    <h1 class="card__title"><%= t('messages.missing.title') %></h1>
    <div class="card__info">
      <%= t('messages.missing.info') %>
    </div>
  </div>
</div>