<div id="app" class="app">
  <%= render 'partials/header' %>
  <div class="pd-card__container">
    <% @organization.members.each do |github_user| %>
      <public-dashboard-profile
         organization-id="<%= @organization.id %>"
         github-login="<%= github_user.login %>"
         image-url="<%= github_user.avatar_url %>"
       >
      </public-dashboard-profile>
    <% end %>
  </div>
</div>
