<div id="app" class="app">
  <%= render 'partials/header' %>
  <div class="pd-card__container">
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
    <public-dashboard-profile></public-dashboard-profile>
  </div>
</div>
