<div class="settings">
  <% if !@is_admin_github_session %>
    <%= render "admin_permission" %>
  <% elsif @has_dashboard %>
    <%= render "settings_content" %>
  <% else %>
    <%= render "init_dashboard" %>
  <% end %>
</div>
